#myname{
    color: blueviolet;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: right;
    font-size: 16px;
}
#myname1{
    color: blueviolet;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 16px;
}

.header{
    color: rgb(65, 16, 111);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 16px;
}

body{background-color: rgb(255, 252, 239);}

.package{
    display: flex;
    gap: 10px;
    
}

#japan , #switz , #thai{
    
    padding: 20px;
    border-radius: 15px; 
    align-items: center;
    text-align: center;
    display: block;
}
#japan h1 , #switz h1 , #thai h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 800;
    padding: 15px;
}

#japan img , #switz img , #thai img{
    display: block;
    margin: 0 auto;
}

#japan p , #switz p , #thai p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

#booking1 , #booking2 ,#booking3 {
    display: inline-block;
}




#japan{
    background-color: aliceblue;
    border: 10px solid paleturquoise;
}
#japan h1 {
    color: darkblue;
}
#japan p{
    color: rgb(140, 140, 183);
}


#switz h1 {
    color: rgb(30, 82, 9);
}
#switz p{
    color: rgb(91, 154, 101);
}
#switz{
    background-color: aliceblue;
    border: 10px solid rgb(43, 173, 91);
}



#thai{
    background-color: aliceblue;
    border: 10px solid rgb(229, 126, 208);
}
#thai h1 {
    color: rgb(127, 6, 24);
}
#thai p{
    color: rgb(231, 66, 102);
}

.bookingform{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}


#form{
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form h1{
    color: blueviolet;
}